body {
    font-family: Arial, sans-serif;
    background-color: #445D48;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #DAFFFB;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #64CCC5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #64CCC5;
}

input[type="checkbox"] {
    transform: scale(2.5);
}

input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #04364A;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}