/* Reset some default styles */
body, h1, p, form, label, input, textarea, button {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3876BF;
    font-family: Arial, sans-serif;
}

.text {
    background-color: #D6C7AE;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

button a {
    text-decoration: none;
    color: #fff;
}

button:hover {
    background-color: #1e7e34;
}
